{{ define "layout" }}
<html>

<head>
    {{ template "head" }}
</head>

<body>
    {{ template "body" }}
</body>

</html>
{{ end }}

{{ define "head" }}
<title>Go Web Programming</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/3.2.0/material-components-web.min.css"
        rel="stylesheet">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/3.2.0/material-components-web.min.js"></script>


    <link href="static/material.css" rel="stylesheet" type="text/css">
    <script src="static/material.js"></script>
    <script src="static/photobook-home.js"></script>
{{ end }}


{{ define "body" }}

<!-- List with avatar and controls -->

<div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color: rgb(13, 112, 158)">

            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PhotoBook</span>

                <div class="mdl-layout-spacer"></div>
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <div class="appMenuItemsRight">
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="demo-menu-lower-right">
                        <li class="mdl-menu__item">Items One</li>
                        <li class="mdl-menu__item">Items Two</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <div class="appMenuItemsLeft">
                <span class="mdl-layout-title">User Name</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link"><i class="material-icons"
                            style="font-size: 30px; color:  rgb(13, 112, 158)">account_circle</i>My Account</a>
                    <a class="mdl-navigation__link"><i class="material-icons"
                            style="font-size: 30px; color:  rgb(13, 112, 158)">arrow_back</i>Quit</a>
                </nav>
            </div>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell" style="text-align: center; margin:auto">
                        <h3>Welcome Home</h3>
                        <div>
                            <p>This is your Home Page</p>
                        </div>
                        <div class="appTable">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin:auto">
                                <tbody>
                                    <tr>
                                        <td><i class="material-icons"
                                                style="font-size: 40px; color:  rgb(13, 112, 158)">person</i></td>
                                        <td class="mdl-data-table__cell--non-numeric" style="width: 100%">Name
                                        </td>
                                        <td><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">edit</i></td>
                                        <td><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">refresh</i></td>
                                        <td><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">delete</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

{{ end }}