<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
</head>

<body>
    <!-- List with avatar and controls -->

    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color: rgb(13, 112, 158)">

            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PhotoBook</span>

                <div class="mdl-layout-spacer"></div>
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <div class="appMenuItemsRight">
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="demo-menu-lower-right">
                        <li class="mdl-menu__item"><a href="/admin/user/view?id={{.User.ID}}" class="mdl-menu__item">Create User</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <div class="appMenuItemsLeft">
                <span class="mdl-layout-title"style = "padding: 10px">{{.User.Name}}</span>
                <nav class="mdl-navigation">
                    <a href="/admin/myaccount?id={{.User.ID}}" class="mdl-navigation__link"><i class="material-icons"
                            style="font-size: 30px; color:  rgb(13, 112, 158)">account_circle</i>My Account</a>
                    <a href="/admin/logout?id={{.User.ID}}"class="mdl-navigation__link"><i class="material-icons"
                            style="font-size: 30px; color:  rgb(13, 112, 158)">arrow_back</i>Logout</a>
                </nav>
            </div>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell" style="text-align: center; margin:auto">
                        <h3>Welcome {{.Page.Title}}</h3>
                        <div>
                            <p>{{printf "%s" .Page.Body}}</p>
                        </div>
                        <div class="appTable">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin:auto">
                                <tbody>
                                    {{range .Table.Rows}}
                                    <tr">
                                        <td><a href="/admin/user/view?id={{.Index}}"><i class="material-icons"
                                                style="font-size: 40px; color:  rgb(13, 112, 158)">person</i></a></td>
                                        {{range .Row}}
                                        <td class="mdl-data-table__cell--non-numeric" style="width: 100%">{{.Value}}
                                        </td>
                                        {{end}}
                                        <td><a href="/admin/user/edit?id={{.Index}}"><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">edit</i></a></td>
                                        <td><a href="/admin/user/reset?id={{.Index}}"><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">refresh</i></a></td>
                                        <td><a href="/admin/user/reset?id={{.Index}}"><i class="material-icons"
                                                style="font-size: 20px; color:  rgb(13, 112, 158)">delete</i></a></td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>